@charset "utf-8";

/* common */
.screenhid{overflow:hidden}
#ly_mask{display:none;position:fixed; width:100%;height:100%;z-index:10; top:0; left:0; background-color:#000;opacity:0.8;}

.blind {display:none;}
.clear:after {content:""; display:block; clear:both;}
.bd0 {border:0 !important;}
.alignR {text-align:right;}
.alignC {text-align:center;}
.btn_top{max-width:600px;margin:0 auto;text-align:right;}

/* layout */
#wrap {min-width:320px; overflow:hidden;}
#wrap {width:100%; overflow:hidden;}
#wrap #header {position:relative; height:34px;}
#wrap #header h1 {position:absolute; top:7px; left:10px;}
#wrap #header ul {position:absolute; top:6px; right:10px;}
#wrap #header li {float:left;}
#wrap #header li a {border-right:1px solid #b8b8b8;padding:0 10px; color:#666; font-size:11px;}
#wrap #header li:last-child a {padding-right:0; border-right:0;}
#wrap .menu {position:absolute;top:71px;left:0px;z-index:1000;}
#wrap .menu ul {width:120px;}
#wrap .menu ul li {float:none;display:list-item;border-left:none;border-top:1px solid #f39d74;border-bottom:1px solid #5e1a00;height:34px;background-color:#a93307}
#wrap .menu ul li:last-child {border-left:0;}
#wrap .menu ul li a {display:block;border-left:none; line-height:35px; color:#fff; font-size:14px; text-align:left;padding-left:10px;}
#wrap .menu_allbox {background-color: #3a3a3a;width:120px;height:82px;}
#wrap .menu_allbox p:first-child {padding:10px 0px 0px 10px;font-weight: bold;color:#FFFFFF}
#wrap .menu_allbox p:last-child {padding:15px 10px 0px 0px;text-align: right;color:#FFFFFF}

/* left_menu */
#left_menu {position:absolute; top:0px; left:-228px; width:225px; z-index:1000;-webkit-box-shadow:3px 0px 2px 0 rgba(0,0,0,0.5); box-shadow:3px 0px 2px 0 rgba(0,0,0,0.5);}
#left_menu .top {background-color: #3a3a3a; width: 100%;}
#left_menu .logo {float:left;padding:12px 15px;width: 50%;}
#left_menu .login {float:right;margin-top:45px;margin-right:15px;color:#ffffff;font-weight:bold;}
#left_menu .login a {color:#ffffff;}

#left_menu ul {}
#left_menu ul li {background-color:#f26722;border-top:1px solid #000000;}
#left_menu ul li a {display:block;line-height:35px; color:#fff; font-size:14px; text-align:left;padding-left:15px;}
#left_menu ul li a.down {background: url(/img/m/common/menu_defold.png) no-repeat center right; background-size: 31px;}
#left_menu ul li a.up {background: url(/img/m/common/menu_fold.png) no-repeat center right; background-size: 31px;}
#left_menu ul li:first-child {}
#left_menu ul li:last-child {border-left:0;}
#left_menu ul li ul {display:none;}
#left_menu ul li ul li ul {display:block;}
#left_menu ul li ul li,
#left_menu ul li ul li a {background-color:#dadada;color:#000;}
#left_menu .none {background-color: #666666;color:#ffffff;line-height:35px;font-size:14px; text-align:left;padding-left:15px;}

#teacher {display:none;width:100%;}
#teacher .tchr_menu {width:100%;-webkit-box-shadow:3px 0px 3px 0 rgba(0,0,0,0.5); box-shadow:3px 0px 3px 0 rgba(0,0,0,0.5);}
#teacher .subject {background-color:#f2f2f2;color:#f26722;padding-left:15px;width:80px;}
#teacher .sb_tm {border-left:1px solid #999;width:100%;}
#teacher .sb_tm td {text-align: center;}
#teacher .sb_tm td.normal {width:33.3%;height:35px;color:#666666;border-right:1px solid #999;border-bottom:1px solid #999;}
#teacher .sb_tm td.last {width:33.3%;height:35px;color:#666666;border-right:1px solid #999;}
#teacher .line {border-bottom:1px solid #000;}
#teacher .sb_tmul {width:100%;border-left:1px solid #999;display:none;}
#teacher .sb_tmul li {float:left;width:74px;line-height:35px;vertical-align: middle;text-align: center;border-right:1px solid #999;border-bottom:1px solid #999;}
#teacher p {width: 100%;text-align: right;background: url(/img/m/common/bg_tchr_menu.png) repeat-x top left #bbbbbb;}
#teacher p>span {display: block;padding:10px 15px;}
#teacher .btn_tchrmenu {cursor:pointer;}

/* container */
#container	{position:relative;min-width:320px;}
#container .top_tab {position:relative;z-index:1; border-top:1px solid #d64d09; border-bottom:1px solid #d64d09; background:#f26722; -webkit-box-shadow:0 3px 2px 0 rgba(0,0,0,0.5); box-shadow:0 3px 2px 0 rgba(0,0,0,0.5);}
#container .top_tab .btn_left {position:absolute; top:6px; left:10px;}
#container .top_tab .btn_right {position:absolute; top:6px; right:10px;}
#container .top_tab .title {line-height:35px; color:#fff; font-size:14px; text-align:center;font-weight:bold}

#container .top_tab ul {display:table; width:100%; height:35px; }
#container .top_tab ul li {display:table-cell; width:;border-left:1px solid #d64d09;}
#container .top_tab ul li:first-child {padding-left:40px;}
#container .top_tab ul li:last-child {border-left:0;}
#container .top_tab ul li a {display:block; border-left:1px solid #f39d74; line-height:35px; color:#fff; font-size:14px; text-align:center;}


select.form-control, button {margin-bottom:10px;}

/* slide */
.touchslider {position:relative; width:320px; margin:0 auto;}
.touchslider a {margin:0; padding:0; line-height:0;}
.touchslider div {margin:0; padding:0;}
.touchslider .touchslider-nav-item {display:inline-block; width:6px; height:6px; background:url(/img/m/main/slide_btn.png) no-repeat -6px 0; background-size:12px auto; overflow:hidden; text-indent:-9999px;}
.touchslider .touchslider-nav-item-current {font-size:20px; color:red; font-weight:bold; background-position:0 0;}
.touchslider .btns {position:absolute; left:0; bottom:5px; width:100%; text-align:center;}
.banner {text-algin:center;}
.banner div:first-child {background:url(/img/m/common/banner01_bg.gif) repeat-x 0 0; background-size:auto 120px; text-align:center;}
.banner div:last-child {background:url(/img/m/common/banner02_bg.gif) repeat-x 0 0; background-size:auto 120px; text-align:center;}
.banner_app {background:#f2f2f2; text-align:center;}
.banner_app a {display:block;}

/* footer */
#footer {clear:both; padding:10px 0 6px;background:#dadada; text-align:center; color:#999; font-size:8px; letter-spacing:-0.15em;}
#footer .link {padding-bottom:8px; font-size:11px; letter-spacing:0;}
#footer .link a:first-child {margin-right:9px; padding-right:9px; border-right:1px solid #b8b8b8;}
#footer .f_logo {margin-top:5px;}

/* size */
.w180 {width:180px;}

#mask {position:absolute;  z-index:100; background-color:#CCC; display:none; left:0; top:0;}
.lec_det{position:absolute; z-index:200;}

.must{color:red; margin-left: 5px;}